<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>danilo-project</title>
	 <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
</head>
<body>

	<header>
		<nav class="menu">
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Fábrica</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
		        <li><a href="/factories" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Lista de fábricas</a></li>
		      </ul>
		    </div>
		</nav>
	</header>
	
	<div th:each="factory : ${factories}" class="container detailsFactory">
	<h5>Detalhes da Fábrica</h5>
		<div class="row">
			<p>Nome: <span th:text="${factory.name}"></span></p>
		</div>
	</div>
	
	<div class="container formCellphone">
		<form method="post">
			Nome: <input type="text" value="" name="name" placeholder="Nome do Celular"/>
			Preço: <input type="number" min="0" max="10000" step="0.02" value="" name="price" placeholder="Preço do Celular"/>
			Description: <input type="text" value="" name="description" placeholder="Descrição do Celular"/>
			<button class="waves-effect waves-light btn" type="submit">Adicionar</button>
		</form>
	</div>
	
		<table class="container tableCellphone">
		<thead>
			<tr>
				<th>Nome do Celular</th>
				<th>Preço do Celular</th>
				<th>Descrição do Celular</th>
				<th>Editar</th>
				<th>Deletar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="cellphone : ${cellphones}">
			<td><a th:href="${(#mvc.url('FC#detailsCellphone').arg(0, cellphone.id)).build()}"><span th:text="${cellphone.name}"></span></a></td>
				<td><span th:text="${cellphone.price}"></span></td>
				<td><span th:text="${cellphone.description}"></span></td>
				<td><a th:href="${(#mvc.url('FC#updateCellphone').arg(0, cellphone.id)).build()}"><i class="material-icons left">edit</i></a></td>
				<td><a th:href="${(#mvc.url('FC#deleteCellphone').arg(0, cellphone.id)).build()}"><i class="material-icons left">delete</i></a></td>
			</tr>
		</tbody>
	</table>

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>


</html>